<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrz9lOt4-j5qddg4SH4Ca1mgzxpYRFvKM</string>
	<key>GCM_SENDER_ID</key>
	<string>1020397592938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-26118</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-26118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020397592938:ios:fad2d14f9686b7f5cd8513</string>
</dict>
</plist>